{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Success page{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if add_del == 'Add' %}
      <h3>Added a new member</h3>
    {% else %}
      <h3>Deleted a new member</h3>
    {% endif %}
    <table border="">
      <tr>
        <td>Rank</td>
        <td>Name</td>
        <td>FMW</td>
      </tr>
      <tr>
        {% if personnel %}
        <td>{{ personnel.rank }}</td>
        <td>{{ personnel.name }}</td>
        <td>{{ personnel.fmw }}</td>
        {% endif %}
      </tr>
    </table>
{% endblock %}