{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Success page{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- print out the ps user has uploaded below -->
    {% if updated == True %}
      <h3>This is your UPDATED parade state</h3>
    {% else %}
      <h3>This is your parade state</h3>
    {% endif %}
    <table border="">
      <tr>
        <td>Name</td>
        <td>AM</td>
        <td>AM Remarks</td>
        <td>PM</td>
        <td>PM Remarks</td>
        <td>Date</td>
      </tr>
      <tr>
        {% if personnel %}
        <td>{{ personnel.name }}</td>
        <td>{{ personnel.am_status }}</td>
        <td>{{ personnel.am_remarks }}</td>
        <td>{{ personnel.pm_status }}</td>
        <td>{{ personnel.pm_remarks }}</td>
        <td>{{ personnel.date }}</td>
        {% endif %}
      </tr>
    </table>
{% endblock %}