.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

body {
    color: #1F1F1F;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p, h5 {
    font-family: 'Cabin', sans-serif;
}

.full-height {
    height: 100vh !important;
}