<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Attendance</a>
    <button class="navbar-toggler {{ 'd-none' if g.user is none }}" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-content">
        <!-- Hyperlinks to various pages -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.load_fmw') }}">Select FMW</a>
            </li>
            {% if g.user is not none %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ps.paradestate') }}">Parade State</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ps.strengthviewer') }}">Personnel List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ps.admin') }}">Admin</a>
            </li>
                
            <li class="nav-item d-lg-none my-2">
                <a class="btn btn-outline-light" href="{{ url_for('auth.logout') }}">
                    Sign Out
                </a>
             </li>
            {% endif %}
        </ul>
    </div>

    <!-- Auth section -->
    {% if g.user is none %}
    <div class="ml-auto">
        <a class="btn btn-outline-light" href="{{ url_for('auth.login') }}">
            Sign in
        </a>
    </div>
    {% else %}
    <div class="ml-auto d-none d-lg-block">
        <span class="text-white mr-3">{{ g.user.username }}</span>
        <a class="btn btn-outline-light" href="{{ url_for('auth.logout') }}">
            Sign Out
        </a>
    </div>
    {% endif %}
</nav>