{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Add/Delete Personnel{% endblock %}</h3>
{% endblock %}

{% block content %}
  <div>
    <a href="{{ url_for('ps.admin_three_act_deact') }}">Activate/Deactivate Personnel</a>
  </div>

    {% if add_del == 'Add' %}
      <h3>Added a new member</h3>
    {% elif add_del == 'Delete' %}
      <h3>Deleted a new member</h3>
    {% endif %}

    {% if add_del %}
    <table border="">
      <tr>
        <td>Rank</td>
        <td>Name</td>
        <td>FMW</td>
      </tr>
      <tr>
        {% if personnel %}
        <td>{{ personnel.rank }}</td>
        <td>{{ personnel.name }}</td>
        <td>{{ personnel.fmw }}</td>
        {% endif %}
      </tr>
    </table>

    {% else %}
    <form method="POST">
    {{ form.hidden_tag() }}
    <li>{{ form.rank.label }} {{ form.rank() }}</li>
    <li>{{ form.name.label }} {{ form.name() }}</li>
    {% if form.fmw %}
    <li>{{ form.fmw.label }} {{ form.fmw() }}</li>
    {% endif %}
    <li>{{ form.add_del.label }} {{ form.add_del() }}</li>
    <li>{{ form.submit() }}</li>
    </form>
    {% endif %}
{% endblock %}




