{% extends 'base.html' %}

{% block content %}
    {% if add_del == 'add' %}
      <h3>Adding a new member</h3>
    {% elif add_del == 'del' %}
      <h3>Deleting a member</h3>
    {% endif %}

    <table border="">
      <tr>
        <td>Rank</td>
        <td>Name</td>
        <td>FMW</td>
      </tr>
      <tr>
        <td>{{ rank }}</td>
        <td>{{ personnel_name }}</td>
        <td>{{ fmw_id }}</td>
      </tr>
      <tr>
        <td>
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          {{ form.submit }}
        </form>
        </td>
        <td><a href="{{ url_for('ps.strengthviewer', redirect_to_strenghtviewer=True, cancel_request=True) }}">Cancel</a></td>
      </tr>
    </table>
{% endblock %}




