{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Parade State{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <!--display current parade state-->
    {% if personnels %}
    <p>This is the current parade state</p>
    <table border="">
        <tr>
            <td>No.</td>
            <td>Rank</td>
            <td>Name</td>
            <td>AM</td>
            <td>AM Remarks</td>
            <td>PM</td>
            <td>PM Remarks</td>
        </tr>
        {% for person in personnels %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ person.rank }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.am_status }}</td>
            <td>{{ person.am_remarks }}</td>
            <td>{{ person.pm_status }}</td>
            <td>{{ person.pm_remarks }}</td>
        </tr>
        {% endfor %}
    </table>

    <p>This is the missing personnels</p>
    <table border="">
        <tr>
            <td>No.</td>
            <td>Rank</td>
            <td>Name</td>
            <td>FMW</td>
        </tr>
        {% for person in missing_personnels %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ person.rank }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.fmw }}</td>
        </tr>
        
        {% endfor %}
    </table>


    {% else %}
    <form method="POST">
    {{ form.hidden_tag() }}
    <li>{{ form.date.label }} {{ form.date() }}</li>
    <li>{{ form.submit() }}</li>
    </form>
    {% endif %}
</div>
{% endblock %}