{% extends 'base.html' %}

{% block title %}
  {{ super() }}Parade State
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <style>
        .nav-pills .nav-item {
            width: 50%;
            border: 1px solid #1F1F1F;
            border-radius: 0.25rem;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #1F1F1F;
        }

        .nav-item a {
            color: #1F1F1F;
        }
    </style>
{% endblock %}

{% block content %}
    <!--display current parade state-->
    {% if personnels %}
    <div class="row">
        <div class="col">
            <h1 class="font-weight-bold">Parade State for {{ session['fmw'] }} on {{ date }}</h1>
            <!-- Navbar to select AM or PM status -->
            <ul class="nav nav-pills" id="time-tab" role="tablist">
                <li class="nav-item text-center">
                    <a class="nav-link active" id="AM-status-tab" data-toggle="pill" href="#AM-status"
                       role="tab" aria-controls="AM-status">AM Parade State</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" id="PM-status-tab" data-toggle="pill" href="#PM-status"
                       role="tab" aria-controls="PM-status">PM Parade State</a>
                </li>
            </ul>

            <!-- Panels -->
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="AM-status" role="tabpanel" aria-labelledby="AM-status-tab">
                    <div class="alert mt-2 {{ 'alert-danger' if missing_personnels else 'alert-info' }}" role="alert">
                        <h4 class="alert-heading">Summary of AM Status</h4>
                        <p>
                            {% for group in personnels|groupby("am_status") %}
                            {{ group.grouper }}: {{ group.list|length }}{{ ", " if not loop.last }}
                            {% endfor %}
                        </p>

                        {% if missing_personnels %}
                        <hr>
                        <p class="mb-0">There are personnels which have not submitted their status, so numbers may be incorrect.</p>
                        {% endif %}
                    </div>
                    <table class="table mt-3">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank & Name</th>
                            <th scope="col">AM Status/ Remarks</th>
                        </tr>
                        </thead>
                        {% for person in personnels %}
                            <tr>
                                <td>{{ person.Person.rank }} {{ person.Person.name }}</td>
                                <td>
                                    {{ person.am_status }}
                                    {% if person.am_remarks != '' %}
                                        <span>({{ person.am_remarks }})</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for person in missing_personnels %}
                            <tr class="table-danger">
                                <td>{{ person.rank }} {{ person.name }}</td>
                                <td>ZZ: NONE PROVIDED</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane fade" id="PM-status" role="tabpanel" aria-labelledby="PM-status-tab">
                    <div class="alert mt-2 {{ 'alert-danger' if missing_personnels else 'alert-info' }}" role="alert">
                        <h4 class="alert-heading">Summary of PM Status</h4>
                        <p>
                            {% for group in personnels|groupby("pm_status") %}
                            {{ group.grouper }}: {{ group.list|length }}{{ ", " if not loop.last }}
                            {% endfor %}
                        </p>

                        {% if missing_personnels %}
                        <hr>
                        <p class="mb-0">There are personnels which have not submitted their status, so numbers may be incorrect.</p>
                        {% endif %}
                    </div>

                    <table class="table mt-3">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank & Name</th>
                            <th scope="col">PM Status/ Remarks</th>
                        </tr>
                        </thead>
                        {% for person in personnels %}
                            <tr>
                                <td>{{ person.Person.rank }} {{ person.Person.name }}</td>
                                <td>
                                    {{ person.pm_status }}
                                    {% if person.pm_remarks != '' %}
                                        <span>({{ person.pm_remarks }})</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for person in missing_personnels %}
                            <tr class="table-danger">
                                <td>{{ person.rank }} {{ person.name }}</td>
                                <td>ZZ: NONE PROVIDED</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="d-flex full-height justify-content-center align-items-center">
        <div class="modal-dialog">
            <div class="modal-content px-lg-4 py-lg-4">
                <div class="modal-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}

                        {% if form.fmw %}
                        <h5 class="ml-lg-1 text-center">Please select the FMD which you want to view:</h5>
                        <div class="form-row mx-1 mt-lg-3">
                            <div class="col-md-3 font-weight-bold">
                                {{ form.fmd.label(class_="col-form-label") }}
                            </div>
                            <div class="col-md-9">
                                {{ form.fmd(class_="form-control custom-select") }}
                            </div>
                        </div>

                        <h5 class="ml-lg-1 text-center">Please select the FMW which you want to view:</h5>
                        <div class="form-row mx-1 mt-lg-3">
                            <div class="col-md-3 font-weight-bold">
                                {{ form.fmw.label(class_="col-form-label") }}
                            </div>
                            <div class="col-md-9">
                                {{ form.fmw(class_="form-control custom-select") }}
                            </div>
                        </div>
                        {% endif %}

                        <h5 class="ml-lg-1 mt-3 text-center">Please select the date which you want to view:</h5>
                        <div class="form-row mx-1 mt-lg-3">
                            <div class="col-md-3 font-weight-bold">
                                {{ form.date.label(class_="col-form-label") }}
                            </div>
                            <div class="col-md-9">
                                {{ form.date(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-row mx-1 mt-3">
                            {{ form.submit(class_="form-control btn btn-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                "paging": false
            });
        } );
    </script>
    <script>
        let fmd_select = document.getElementById('fmd')
        let fmw_select = document.getElementById('fmw')
    
        fmd_select.onchange = function() {
            fmd = fmd_select.value;
            
            fetch('auth/fmw/' + fmd).then(function(response){
    
                response.json().then(function(data){
    
                    let optionHTML = '';
    
                    for (let fmw of data.fmws){
                        optionHTML += '<option value="'+fmw.fmw+'">' + fmw.fmw + '</option>';
                    }
    
                    fmw_select.innerHTML = optionHTML
                });
            });
        }
    </script>
{% endblock %}