{% extends 'base.html' %}

{% block title %}
  {{ super() }}Parade State
{% endblock %}

{% block styles %}
    <style>
        .nav-pills .nav-item {
            width: 50%;
            border: 1px solid #1F1F1F;
            border-radius: 0.25rem;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            background-color: #1F1F1F;
        }

        .nav-item a {
            color: #1F1F1F;
        }
    </style>
{% endblock %}

{% block content %}
    <!--display current parade state-->
    {% if personnels %}
    <div class="row">
        <div class="col">
            <h2 class="">Parade State for {{ session['fmw'] }} on {{ date }}</h2>
            <!-- Navbar to select AM or PM status -->
            <ul class="nav nav-pills" id="time-tab" role="tablist">
                {% for time in ('AM', 'PM') %}
                <li class="nav-item text-center">
                    <a class="nav-link {{ 'active' if time == 'AM' }}" id="{{ time }}-status-tab" data-toggle="pill" href="#{{ time }}-status"
                       role="tab" aria-controls="{{ time }}-status">{{ time }} Parade State</a>
                </li>
                {% endfor %}
            </ul>

            <!-- Panels -->
            <div class="tab-content" id="pills-tabContent">
                {% for time in ('AM', 'PM') %}
                <div class="tab-pane fade {{ 'show active' if time == 'AM' }}" id="{{ time }}-status"
                     role="tabpanel" aria-labelledby="{{ time }}-status-tab">
                    <!-- Summary of Statuses -->
                    <div class="alert mt-2 {{ 'alert-danger' if missing_personnels else 'alert-info' }}" role="alert">
                        <h4 class="alert-heading">Summary of {{ time }} Status</h4>
                        <p>
                            {% for group in personnels|selectattr(time + "_status")|groupby(time + "_status") %}
                            {{ group.grouper }}: {{ group.list|length }}{{ ", " if not loop.last }}
                            {% endfor %}
                        </p>

                        {% if missing_personnels %}
                        <hr>
                        <p class="mb-0">There are personnels which have not submitted their status, so numbers may be incorrect.</p>
                        {% endif %}
                    </div>

                    <!-- Table displaying all personnel and their respective status -->
                    <table class="table mt-3">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank & Name</th>
                            <th scope="col">{{ time }} Status/ Remarks</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>

                        {# List of Personnels without status provided at this timeslot #}
                        {% for person in personnels|rejectattr(time + "_status") %}
                            <tr class="table-danger align-items-center">
                                <td class="align-middle">{{ person.rank }} {{ person.name }}</td>
                                <td class="align-middle">ZZ: NONE PROVIDED</td>
                                <td>
                                    <!-- Button to easily mark personnel as Present -->
                                    <form action="{{ url_for('ps.mark_personnel_present', form=form) }}" method="post">
                                        {{ status_update_form.csrf_token }}
                                        {{ status_update_form.name(value=person.id) }}
                                        {{ status_update_form.date(value=date) }}
                                        {{ status_update_form.time(value=time) }}
                                        {{ status_update_form.submit(class_="form-control btn btn-dark") }}
                                    </form>

                                    <!-- 2nd button to mark this guy as other status, redirect to status page -->
                                    <a href="{{ url_for('ps.index', name=person.id) }}" class="btn btn-dark w-100 mt-1">Other Status</a>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for person in missing_personnels %}
                            <tr class="table-danger">
                                <td class="align-middle">{{ person.rank }} {{ person.name }}</td>
                                <td class="align-middle">ZZ: NONE PROVIDED</td>
                                <td>
                                    <!-- Button to easily mark personnel as Present -->
                                    <form action="{{ url_for('ps.mark_personnel_present', form=form) }}" method="post">
                                        {{ status_update_form.csrf_token }}
                                        {{ status_update_form.name(value=person.id) }}
                                        {{ status_update_form.date(value=date) }}
                                        {{ status_update_form.time(value=time) }}
                                        {{ status_update_form.submit(class_="form-control btn btn-dark") }}
                                    </form>
                                    <!-- 2nd button to mark this guy as other status, redirect to status page -->
                                    <a href="{{ url_for('ps.index', name=person.id) }}" class="btn btn-dark w-100 mt-1">Other Status</a>
                                </td>
                            </tr>
                        {% endfor %}

                        {# List of Personnels with status provided at this timeslot #}
                        {% for person in personnels|selectattr(time + "_status")|sort(attribute=(time + "_status")) %}
                            <tr class="{{ 'table-danger' if not person[time + '_status'] }}">
                                <td>{{ person.rank }} {{ person.name }}</td>
                                <td>
                                    {{ person[time + '_status'] }}
                                    {% if person[time + '_remarks'] != '' %}
                                        <span>({{ person[time + '_remarks'] }})</span>
                                    {% endif %}
                                </td>
                                <td>{# empty td for formatting #}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
    <div class="d-flex full-height justify-content-center align-items-center">
        <div class="modal-dialog">
            <div class="modal-content px-lg-4 py-lg-4">
                <div class="modal-body">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}

                        {% if form.fmw %}
                        <h5 class="ml-lg-1 text-center">Please select the FMW which you want to view:</h5>
                        <div class="form-row mx-1 mt-lg-3">
                            <div class="col-md-3 font-weight-bold">
                                {{ form.fmw.label(class_="col-form-label") }}
                            </div>
                            <div class="col-md-9">
                                {{ form.fmw(class_="form-control custom-select") }}
                            </div>
                        </div>
                        {% endif %}

                        <h5 class="ml-lg-1 mt-3 text-center">Please select the date which you want to view:</h5>
                        <div class="form-row mx-1 mt-lg-3">
                            <div class="col-md-3 font-weight-bold">
                                {{ form.date.label(class_="col-form-label") }}
                            </div>
                            <div class="col-md-9">
                                {{ form.date(class_="form-control") }}
                            </div>
                        </div>

                        <div class="form-row mx-1 mt-3">
                            {{ form.submit(class_="form-control btn btn-dark") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}